<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Submit Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1>This is the Form</h1>

<form id="myForm">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <input type="submit" value="Submit">
</form>

<div id="response"></div>

<br>

<button onclick="window.location.href='/'">Go Back To Index</button>

<script>
    $(document).ready(function() {
        $("#myForm").submit(function(event) {
            event.preventDefault();
            
            var formData = {
                "message": $("#message").val()
            };

            $.ajax({
                type: "POST",
                url: "/submit_form",
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $("#response").text(data.response);
                },
                error: function(errMsg) {
                    console.error("Error:", errMsg);
                }
            });
        });
    });
</script>

</body>
</html>
